.main_pos_wrapper {
    display: flex;
}

button {
    background: none;
    border: none;
    color: #428bca;
}

.leftside {
    width: 45%;
    margin: 0 20px;
}

.topInp {
    display: flex;
    margin-bottom: 5px;
}

.topInp input {
    width: 70%;
    padding: 5px;
    border: 1px solid gray;
}

.topInp .bg-gray {
    background-color: #eeeeee;
    padding: 5px 10px;

    font-size: 18px;
    border: 1px solid gray;
}

.topInp .bg-gray button {
    background-color: none;
    border: none;
    color: #428bca;
}

.secInp {
    width: 97%;
    border: 1px solid gray;
    margin-bottom: 5px;
    padding: 5px;
}

.thirdInp {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.thirdInp input {
    width: 92%;
    padding: 5px;
    border: 1px solid gray;
}

.thirdInp .bg-gray {
    background-color: #eeeeee;
    /* padding: 5px; */
    font-size: 18px;

}

.thirdInp .bg-gray button {
    background-color: none;
    border: 1px solid gray;
    color: #428bca;
    /* padding: 4px 5px; */
}

.table_wrapper {
    width: 100%;
}

.table_wrapper table {
    width: 98%;
}

.table_wrapper table th {
    text-align: center;
    background: #428bca;
    padding: 5px;
    color: #fff;
    letter-spacing: 1px;
    border: 1px solid black;
}

.table_wrapper table th .del-btn {
    background-color: none;
    border: none;
    color: #428bca;
}

.table_wrapper table .fixedheight {
    height: 270px;
    width: 100%;
    /* border: 1px solid red; */
    visibility: hidden;
}

.font-bold tr td {
    padding: 5px;
    font-weight: 600;
}

.bg-black {
    width: 560px;
    padding: 5px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
}

.bg-black button {
    font-size: 18px;
}

.colorfulTable {
    width: 99%;
    text-align: center;
}

/* .colorfulTable tr {
        padding: 15px
    } */
.colorfulTable .bg-orange {
    background-color: orange;
    color: #fff;
    padding: 8px
}

.colorfulTable .bg-blue {
    background-color: #5bc0de;
    color: #fff;
    padding: 8px
}

.colorfulTable .bg-deepblue {
    background-color: #428bca;
    color: #fff;
    padding: 8px;
}

.colorfulTable .bg-red {
    background-color: red;
    color: #fff;
    padding: 8px;
}

.colorfulTable .bg-green {
    background-color: #5cb85c;
    color: #fff;
    padding: 6px;
}


#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td,
#customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even) {
    background-color: #f2f2f2;
}

#customers tr:hover {
    background-color: #ddd;
}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.bold-td-text{
    font-weight: bold;
    color: black;
}